<!DOCTYPE html>
<html>
<head>
	<title>Order Form</title>
	<link rel="stylesheet" type="text/css" href="../css/main.css">
</head>
<body class="bg-slate-400">
	<h1>Order Form</h1>
	<form method="POST">
		<label>
			Date:
			<input type="date" name="date">
		</label>
		<h2>Breakfast</h2>
		<label>
			Food:
			<input type="text" name="breakfast_food">
		</label>
		<label>
			Pickup Time:
			<input type="time" name="breakfast_time">
		</label>
		<label>
			Pickup Location:
			<select type="text" name="breakfast_location">
				<option value=""></option>
        		<option value="a">Russell</option>
        		<option value="b">Caesar Rodney</option>
        		<option value="c">Pencader</option>
      		</select>
		</label>
		<h2>Lunch</h2>
		<label>
			Food:
			<input type="text" name="lunch_food">
		</label>
		<label>
			Pickup Time:
			<input type="time" name="lunch_time">
		</label>
		<label>
			Pickup Location:
			<select type="text" name="lunch_location">
				<option value=""></option>
        		<option value="Russell">Russell</option>
        		<option value="Caesar Rodney">Caesar Rodney</option>
        		<option value="Pencader">Pencader</option>
      		</select>
		</label>
		<h2>Dinner</h2>
		<label>
			Food:
			<input type="text" name="dinner_food">
		</label>
		<label>
			Pickup Time:
			<input type="time" name="dinner_time">
		</label>
		<label>
			Pickup Location:
			<select type="text" name="dinner_location">
				<option value=""></option>
        		<option value="a">Russell</option>
        		<option value="b">Caesar Rodney</option>
        		<option value="c">Pencader</option>
      		</select>
		</label>
		<br><br>
		<input type="submit" value="Submit">
	</form>
</body>
</html>
